
@{
    ViewData["Title"] = "Home Page";
}

<h1>Three Amigos</h1>

<p>This is the Three Amigos e-shop.</p>


<p>Our store contains the latest phones, laptops and devices, with the best specifications 
    and the lowest prices, with delivery service.</p>
 